# Environment Variables
bot-env
*.env

# Database files
*.db
*.sqlite

# JSON files
*.json

# Miscellaneous
Discord_bot/__pycache__
__pycache__/
__init__.py
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
